.data-table {
  border-collapse: collapse;
}

.data-table th,
.data-table td,
.data-table tr {
  border: 1px solid grey;
  padding: 5px;
}

.table-header {
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgb(202, 221, 175);
  border-bottom: 2px solid grey;
}

.table-header:hover {
  cursor: pointer;
}
